<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
	<input type="hidden" name="cmd" value="_donations" />
	<input type="hidden" name="business" value="pcercuei@gmail.com" />
	<input type="hidden" name="currency_code" value="EUR" />
	<input id="donate-button" type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_SM.gif" border="0" name="submit" alt="Donate with PayPal button" />
	<!--<img alt="" border="0" src="https://www.paypal.com/en_ES/i/scr/pixel.gif" width="1" height="1" />-->
</form>
