<header id="main-header" class="site-header" role="banner">
	<a href="{{site.baseurl}}/"><img src="{{site.baseurl}}/assets/images/zcrcme.png" class="header-image" /></a>
	<h2 class="site-description">{{site.description}}</h2>
</header>
