<div class="nav-links">
	{% if paginator.next_page %}
	<div class="nav-next">
		<a href="{{paginator.next_page_path}}">← Older posts</a>
	</div>
	{% endif %}
	{% if paginator.previous_page %}
	<div class="nav-prev">
		<a href="{{paginator.previous_page_path}}">Newer posts →</a>
	</div>
	{% endif %}
</div>
