{% capture _category %}{{post.categories | first}}{% endcapture %}
{% capture _date %}{{post.date | date_to_string}}{% endcapture %}

{% assign _comments = site.data.comments[post.slug] %}
{% assign _nb_replies = _comments | size %}

{% if _nb_replies == 0 %}
	{% capture _replies %}Leave a reply{% endcapture %}
{% elsif _nb_replies == 1 %}
	{% capture _replies %}1 reply{% endcapture %}
{% else %}
	{% capture _replies %}{{_nb_replies}} replies{% endcapture %}
{% endif %}

<div class="main">
	<article>
		<h1 class="entry-title"><a href="{{post.url}}">{{post.title}}</a></h1>
		{{post.content}}
		<footer class="entry-meta">
			Posted in <a href="{{site.baseurl}}/{{_category}}.html" >{{_category}}</a> on the {{_date}}.
			<a href="{{post.url}}#replies">{{_replies}}</a>
		</footer>
	</article>
</div>
