<ol class="reply-list">
{% for comment in include.comments %}
{% if include.parent_comment %}
{% capture comment_number %}{{include.parent_comment}}.{{forloop.index}}{% endcapture %}
{% assign reply_id = include.id %}
{% else %}
{% assign comment_number = forloop.index %}
{% assign reply_id = comment[1]._id %}
{% endif %}
	<li class="reply">
		<h3 class="reply-title"><a name="{{comment[1]._id}}" href="#{{comment[1]._id}}">#{{comment_number}}</a>&emsp;<i>{{comment[1].name}}</i>, {{comment[1].date | date_to_string}}
		{% if include.id %}
			{% assign parent = include.all_comments | where_exp: "resp", "resp[1]._id == include.id" %}
			(<a href="#{{parent[0][1]._id}}">Reply to {{parent[0][1].name}}</a>)
		{% endif %}
		</h3>
		<div class="reply-message">{{comment[1].message | markdownify}}</div>
	<p align="right"><a href="#reply" onclick="setReplyTo('{{reply_id}}', '{{comment[1].name}}', '{{comment_number}}')">Reply</a></p>
	</li>
{% if include.parent_comment == nil %}
{% assign responses = include.all_comments | where_exp: "resp", "resp[1].reply_to == comment[1]._id" %}
{% assign _id = comment[1]._id %}
{% include reply.html comments=responses all_comments=include.all_comments id=_id parent_comment=comment_number %}
{% endif %}
{% endfor %}
</ol>
