---
layout: post
title: "Hello World!"
date: "2018-07-04 10:52:26 +0000"
categories: [Misc]
---
<p>Welcome to my devblog!</p>
<p>I’ve been thinking for some time about starting it; not that I like 
much to write about what I do, but I’ve been hacking some pretty amazing
 stuff, and won decent knowledge about programming languages, 
electronics, low-level magic, operating systems and device drivers 
development, Linux kernel hacking, dynamic code recompilation… that it 
would be sad not to write about my experience and my experiments as I 
go.</p>
<p>So buckle your seatbelt, we’re going for a ride into my world, and it’s going to get bumpy.</p>
