---
layout: "post"
title: "OpenDingux release 2019.04.30"
date: "2019-04-30 18:53:00 -0300"
categories: [OpenDingux]
---
<p>Hi folks,</p>
<p>Here is the first release of the official OpenDingux firmware for the RS-90
(RetroMini). The root FS is based on Buildroot 2019.02.1, the Linux kernel
is based on 5.1-rc5.</p>
<h2>Download links</h2>
<p>The flasher can be downloaded here:
<a href="https://app.box.com/s/s2hlyfdas4jvh4avqou1uhtc1aj391ds">Flasher tool download</a></p>
<p>The toolchain (for developers) can be downloaded here:
<a href="https://app.box.com/s/q0ac262jar1jeh7j5ax61t2qdnjeq38r">Toolchain download</a></p>
<p>Additionally, for Windows users the drivers required for the flasher tool
can be obtained here: <a href="https://app.box.com/s/lgfy24tdqc51kgemugjvabpwmv3jwldr">Windows drivers download</a></p>
<p>All the sources can be found on the
<a href="https://github.com/OpenDingux">Github page of the OpenDingux project</a>.</p>
<h2>DISCLAIMER</h2>
<p>Flashing OpenDingux to your RetroMini will permanently remove the native OS,
all the games it contains, as well as your savegames. I cannot be held
responsible for any damage that this software causes to your RetroMini
device or the software it contains. Use it as your own risk.</p>
<h2>How to flash</h2>
<b>Attention:</b> This flasher has been mostly tested under Linux, and
it seems to be a hit-or-miss on Windows. If you cannot flash from Windows,
try it from a Linux live-CD.
<ol>
		<li>With the device powered OFF, connect it to your PC through USB.</li>
		<li>Power it ON while pressing A. If done properly,
				the device will now be in USB Boot mode. On Windows, to continue
				to the following step you will need to have the driver properly
				installed.</li>
		<li>Extract the ZIP of the flasher tool to a directory. On Linux,
				run <b>flash.sh</b> from the terminal. On Windows, double-click
				on <b>flash.bat</b>.</li>
		<li>The RetroMini should power up, and show the welcome notice of the
				flasher tool. To continue, just follow the instructions. The flash
				operation should take a few minutes.</li>
		<li>After the installation completed and the device rebooted, OpenDingux
				has been successfully installed.</li>
</ol>
<h2>Usage</h2>
<p>Those who already used a handheld running the official OpenDingux firmware
(Dingoo A320 or GCW Zero) will feel at home. The firmware makes uses of the
GMenu2X user interface, and <b>OPKs</b> as the format for the applications.</p>
<ul>
		<li>The firmware is standalone, and does not come with games nor emulators.
				These will need to be installed separately.</li>
		<li>For file transfers, you can either use a <b>FTP</b> software and connect to
				10.1.0.2 (anonymous login). Alternatively, you can use a <b>SSH</b> client
				and connect as the <b>od</b> user. The default password is <b>odrocks</b>.</li>
		<li>The games or ROMs should be transferred somewhere inside the <b>home</b>
				directory or a subfolder.
				The OPK files must be placed inside the <b>data/apps</b> subfolder in order
				to appear in the menu.</li>
		<li>The firmware supports overclocking the CPU. A list of frequencies are provided,
				from 216 MHz to 456 MHz, but I cannot guarantee that your RetroMini will be
				able to overclock that much. Mine does, though. To choose the frequency at
				which an application should run, select it in the menu, press SELECT then Edit;
				the frequency can be selected through the "Clock frequency" setting. Of course,
				overclocking will reduce the battery life. On the other hand, underclocking
				will increase the battery life. The default frequency is 360 MHz.</li>
</ul>
<h2>Final words</h2>
<p>This project represents <b>more than four hundred hours of work</b> just on my side,
all for free. If you value my work, please consider sending me a tip via PayPal using
the "Donate" button on the top-right coner of my blog (or if you're on mobile, at the
bottom of the page).</p>
