---
layout: "post"
title: "OpenDingux release 2019.06.01"
date: "2019-06-01 00:03:00 +0200"
categories: [OpenDingux]
---

<p>Another month, another update.</p>
<h2>Changelog</h2>
<ul>
	<li>Added USB mass storage mode (MTP). Finally, you can transfer your apps
			other files without any specific software! Use the 'USB Mode' app in
			the settings tab to revert to the Ethernet-over-USB mode that was
			the default in the previous versions of the firmware.</li>
	<li>Added 20 MiB of in-RAM compressed swap (zram). This will permits some
			RAM-hungry apps to start, although with a performance hit vs. those
			who don't require swap.</li>
	<li>Switched from mdev to udev, which fixes some issues, like the automounting
			of SD cards.</li>
	<li>The brightness setting is now preserved across reboots.</li>
	<li>And most importantly, the cow is back. Those who used to develop for
			OpenDingux on other devices will understand.</li>
</ul>
<h2>Download links</h2>
<p>The update OPK can be downloaded here:
<a href="https://app.box.com/s/dzfpx5cn3xlts21if8cmop2xzimtetz5">OpenDingux update OPK</a>.<br>
Be careful that you must have at least 25 MiB of internal storage before running the update.</p>
<p>Enjoy!</p>
