---
layout: "post"
title: "OpenDingux release 2019.05.17"
date: "2019-05-17 17:57:00 +0200"
categories: [OpenDingux]
---

<p>Just a small update to tell you I made a small update to the OpenDingux
firmware for the RetroMini.</p>
<h2>Changelog</h2>
<ul>
		<li>V3.0 boards should be supported now. Run <b>flash_v30.bat</b> on Windows
				or <b>flash_v30.sh</b> on Linux to flash the device.</li>
		<li>It is now possible to change the brightness level from within the settings panel.</li>
		<li>The DMA is used for SD card transfers now, so these should be a bit faster.</li>
		<li>The battery level should be a bit more accurate now.</li>
</ul>
<h2>Download links</h2>
<p>The update OPK can be downloaded here:
<a href="https://app.box.com/s/sfwnegoefbrxznwtejbnj62afvz7zfdz">OpenDingux update OPK</a></p>
<p>For those who did not flash already, an updated flasher can be downloaded here:
<a href="https://app.box.com/s/q8rfa900ubj49gdqg2azfvdplo2qxg8u">Flasher tool download</a></p>
<p>Enjoy!</p>
