---
layout: "post"
title: "One picture is better than a thousand words"
date: "2019-01-31 19:51:00 -0300"
categories: [OpenDingux]
---
<p><img src="{{site.baseurl}}/assets/images/rs90-tux.jpg"></p>
<p>There are still some bugs here and there, but the kernel now supports all the
hardware of the RS-90: <b class="nickname">mth</b> got the LCD screen working, I
worked on getting the sound output, USB networking, and NAND support in the
bootloader, and <b class="nickname">zear</b> worked on a ADC driver for the
SELECT (and apparently, L) button, and a driver for the battery.</p>
<p>The focus now is to bring a GUI for this little handheld. We could use
GMenu2X, but we need a new theme for the 240x160 screen. Also, we need to create
an installer to automatize installation of the custom firmware from USB, just
like in the good old Dingoo A320 days.</p>
<p>But now I can play Pokémon again, and under ReGBA this time 😀</p>
