---
layout: "post"
title: "OpenDingux release 2020.01.06"
date: "2020-01-06 23:42:00 -0300"
categories: [OpenDingux]
---

<p>Since last 2019.06.01 update, there has been reports of a lot of hangs
and crashes that I could never manage to reproduce. The difference was that
unlike most users, I don&apos;t use a micro SD and only have a handful of GBA
games on the internal NAND. The bug turned out to be in the DMA driver, which
caused data packets to be lost between the SD card controller and the card
itself.</p>
<h2>Changelog</h2>
<ul>
	<li>Fixed DMA driver; using external micro SD cards won&apos;t cause crashes
		anymore.</li>
	<li>Based on Linux v5.5-rc5 kernel and Buildroot 2019.11.</li>
	<li>Small fixes to GMenu2X, nothing particularly noteworthy to report.</li>
	<li>GMenu2X should now properly respawn when an app crashes.</li>
</ul>

<h2>Download links</h2>
<p>The update OPK can be downloaded here:
<a href="https://app.box.com/s/t7v4wu2zcf4kvwys8ex0spyd8x83axe6">OpenDingux update OPK</a>.<br>
Be careful that you must have at least 25 MiB of internal storage before running the update.</p>
<p>For those who did not flash already, an updated flasher can be downloaded here:
<a href="https://app.box.com/s/si1gukzs7640z0h95waihfxcm88idcvg">Flasher tool download</a></p>

<h2>Special thanks</h2>
<p>A big thanks to all those who donated. That was many more people than I thought.
While I don&apos;t do this for the money, tips are always appreciated! Thank you!</p>
