---
layout: "post"
title: "OpenDingux for RS-90 release 2020.10.04"
date: "2020-10-04 19:16:00 +0200"
categories: [OpenDingux]
---

<p>Here is a new OS update for the RetroMini (RS-90). Note that it may very well
be the last update for this handheld, since it is pretty much feature-complete,
and as far as I can see, pretty much stable too.</p>

<h2>Changelog</h2>
<ul>
	<li>Based on Linux v5.9-rc7 and Buildroot 2020.08.</li>
	<li>Fixed out-of-memory issues at boot.</li>
	<li>Fix overall performance issues of the 2020-01-06 release.</li>
	<li>Added support for paletted 8bpp.</li>
	<li>Added support for the IPU. Only multi-planar YUV 4:4:4 can be used.
		This pixel mode can be used in SDL1 by calling SDL_SetVideoMode with
		bpp=24 and SDL_YUV444 set in the flags.</li>
	<li>Fix quick key presses being missed.</li>
	<li>ExFat-formatted SD cards are now supported.</li>
	<li>zram swap now uses LZO as the compressor. It seems to be the one that
		gives the best performance overall.</li>
	<li>And lots of cleanups that aren&apos;t noteworthy enough to appear
		on this list.</li>
</ul>

<h2>Download links</h2>
<p>The update OPK can be downloaded here:
<a href="https://app.box.com/s/bor0d5lh229mu97eydsh1mrw5qik6cqi">OpenDingux 2020-10-04 update OPK</a>.<br>
<b>You MUST be running the 2020-01-06 release to run the update.</b></p>
<p>An updated toolchain can be downloaded here:
<a href="https://app.box.com/s/1p0r865mqb93ocs0s8u5mgoscifi763q">OpenDingux 2020-10-04 toolchain</a>.<br>
After extracting the toolchain, be sure to run the relocate-sdk.sh script,
so that it can work from the directory you extracted it to.</p>
