---
layout: "post"
title: "We have nighties"
date: "2020-10-13 15:01:00 +0200"
categories: [OpenDingux]
---

<p>For a few days now, we&apos;ve had nightly builds of OpenDingux.
Not exactly nightly, as they are not built once a day, but every time
new commits are pushed.</p>

<p>This is a big deal; that makes it so much easier for non-devs to
follow closely what&apos;s being done in the latest OpenDingux.
It is particularly interesting for GCW-Zero users, which have been
stuck with a 2014-era firmware for so long now, and can now update
to something a bit more recent. This also allows us to get
much more feedback on the current state of things, as well as
bug reports.</p>

<p>The other important bit is that the GCW-Zero build now also supports
the RG-350 and the RG-350M handhelds, so you can test the latest
OpenDingux on these handhelds too.</p>

<p>As for what&apos;s new compared to the old 2014-era firmware, I will
write a blog post soon with an in-depth review of all the changes that
have been made for the last 6 years.</p>

<h2>Disclaimer</h2>

<p>I cannot stress more that the nightly builds are <b>alpha quality</b>
and I cannot be held accountable for any damage caused to your
handheld, your data, or yourself. If you&apos;re lucky it may not
eat your data, but make a backup before updating, just in case.</p>

<p>As for functionalities, don&apos;t expect a fully-working build.
A lot of work is yet to be done, and a lot of games don&apos;t run
and will need to be adapted.</p>

<h2>Download links</h2>

<p>The latest OpenDingux nightly builds can be found at this permalink:<br>
<a href="http://od.abstraction.se/opendingux/latest/">
		http://od.abstraction.se/opendingux/latest/
</a>
</p>

<p>Note that the toolchains are not uploaded there. The latest RS-90
toolchain will still work on the nightly RS-90 builds. For the
GCW-Zero build, the latest toolchain can be found
<a href="http://od.abstraction.se/opendingux/opendingux-gcw0-toolchain.2020-10-01.tar.gz">here</a>.
</p>

<p>Cheers!</p>
