---
layout: "post"
title: "zcrc.me is moving!"
date: "2021-04-12 20:15:10 +0100"
categories: [Misc]
---

<p>Just a quick notice to inform you that I am moving my blog from 
<b>zcrc.me</b> to <b>opendingux.net</b> which I just bought.</p>

<p>In the coming days or weeks (read: when I find some time) I will
try to enhance the website so that it's worthy of being the official
website of the OpenDingux project. <b>zcrc.me</b> will forward to the
new domain until the end of April, after which the website will only
be available at the new address.</p>

<p>Note that for the last few months (since around November) the comments
system was broken on my blog, so it was impossible to write replies. I
feel stupid for not noticing it before, since I would get at least a few
replies per week, plus spam, and I had zero in six months. This is fixed
now, and the pending comments have been processed and added to the posts.
Sorry about that.</p>
