<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width">
		<title>{{ page.title }}</title>
		<link rel="stylesheet" href="{{site.baseurl}}/assets/css/style.css">
	</head>
	<body>
		<div id="page" class="site">
			{% include header.html %}
			<div id="primary" class="site-content">
				{{content}}
				{% include navigation.html %}
			</div>
			{% include widgets.html %}
		</div>
	</body>
</html>
